<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Planner</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  {% for event in events %}
    {% if event.event %}
    <p>{{ event.event }} ({{ event.eventcode }})</p>
    {% else %}
    <p>{{ event.eventcode }}</p>
    {% endif %}
    <p>{{ event.lecturer }}</p>
    <p>{{ event.day }}</p>
    <p>{{ event.period }}</p>
    <hr />
  {% endfor %}
  </body>
</html>
